:root {
  //colors
  --Pink: #ff52bf;
  --Ver-Pale-Cyan: #ebfbff;
  --Very-Dark-Cyan: #00252e;
  --Grayish-Blue: #808d99;
  --Light-grayish-blue: #c6ccd2;
  --Light-pink: #ffccec;
  --Shadow-box: #dedede;

  //Typography
    //Headings
  --Font-Poppins: 'Poppins', sans-serif;

    //Body, Call-to-actions
  --Font-Open-Sans: 'Open Sans', sans-serif;
}